##
# Copyright (c) KMG. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
##

version: '3'
services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./grafana/prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - '9090:9090'
    networks:
      kmgbr:
        ipv4_address: 18.7.0.7

  grafana:
    build: grafana
    volumes:
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=sbk
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    networks:
      kmgbr:
        ipv4_address: 18.7.0.8

  sbk:
    image: kmgowda/sbk
    depends_on:
      - prometheus
      - grafana
    expose:
      - 9718
    ports:
      - "9718:9718"
    networks:
      kmgbr:
        ipv4_address: 18.7.0.9

networks:
  kmgbr:
    driver: bridge
    ipam:
      config:
        - subnet: 18.7.0.0/16
          gateway: 18.7.0.1
