apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: grafana
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: grafana
    spec:
      containers:
        - env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
          image: grafana/grafana:7.3.7
          name: grafana
          ports:
            - containerPort: 3000
          resources: {}
          volumeMounts:
            - mountPath: /var/lib/grafana/dashboards
              name: grafana-dashboards
            - mountPath: /etc/grafana/provisioning
              name: grafana-provisioning
            - mountPath: /etc/grafana/config.ini
              name: grafana-config
      hostname: grafana
      restartPolicy: Always
      volumes:
        - hostPath:
            path: "/Users/kmg/projects/SBK/grafana/dashboards"
            type: Directory
          name: grafana-dashboards
        - hostPath:
            path: "/Users/kmg/projects/SBK/grafana/provisioning"
            type: Directory
          name: grafana-provisioning
        - hostPath:
            path: "/Users/kmg/projects/SBK/grafana/config.ini"
            type: File
          name: grafana-config
status: {}
